$spaceship-font-family: 'Exo', sans-serif;
$spaceship-font-size-small: 12px !default;
$spaceship-font-size-body: 16px !default;
$spaceship-font-size-title: 24px !default;
$spaceship-font-size-subheader: 36px !default;
$spaceship-font-size-header: 60px !default;
$spaceship-font-weight-normal: 400 !default;
$spaceship-font-weight-bold: 700 !default;
$spaceship-line-height-small: 1.1 !default;
$spaceship-line-height-normal: 1.3 !default;
$spaceship-line-height-large: 1.6 !default;
